allowed-build-scripts[]=@nestjs/core
allowed-build-scripts[]=@openapitools/openapi-generator-cli
allowed-build-scripts[]=@parcel/watcher
allowed-build-scripts[]=esbuild
allowed-build-scripts[]=puppeteer
allowed-build-scripts[]=rete